@font-face {
  font-family: 'hero';
  src: url('/fonts/hero.woff2') format('woff2'),
  url('/fonts/hero.woff') format('woff'),
  url('fonts/hero.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
